@import url(../styles/reset.css);

body {
    box-sizing: border-box;
    background-color: rgb(183, 235, 255);
}

.content {
    background-color: aliceblue;
    padding: 1rem 0;
    height: 100%;
    width: 100vw;
}

#topoPoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 992px){
    .content {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 992px;
        height: auto;
        margin: 0 auto;
    }

    img#logo {
        justify-content: center;
        width: 30vw;
    }
    
}

img#logo {
    padding-top: 1rem;
    width: 70vw;
}

.pokemons {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 200px){
    .pokemons {
        grid-template-columns: 1fr;
    }

    img#logo {
        width: 60vw;
    }
}

@media screen and (min-width: 424px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    img#logo {
        width: 70vw;
    }
}

@media screen and (min-width: 661px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    img#logo {
        width: 60vw;
    }

}


.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.flying {
    background-color: #dfbf69;
}
.ground {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3020;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock{
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: .5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.number {
    text-align: end;
    color: rgb(167, 248, 221);
    font-size: .8rem;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    list-style: none;
}

.type {
    border-radius: 1rem;
    padding: .5rem;
    font-size: .7rem;
    margin: .25rem 0rem;
    filter: brightness(1.1) drop-shadow(#00000055 .1rem .1rem );
    text-align: center;
}

.name {
    text-transform: capitalize;
}

.details img {
    margin:0%;
    max-width: 100%;
    height: 7rem;
    align-self: flex-end;
}

h1 {
    color: #004884;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button {
    background-color: #6f38f6;
    border: none;
    border-radius: 2rem;
    color: #ffffff;
    padding: .25rem .5rem;
    font-size: 1.5rem;
    width: 60vw;
    height: 3rem;
}

